<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.void_siteConnectionString"
            connectionString="Data Source=LAPTOP-6I5JUV1G\SQLEXPRESS;Initial Catalog=void_site;Persist Security Info=True;User ID=victorniu;Password=Kirby30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>